header {
  text-align: center;
  padding: 32px;
}

h1 {
  color: purple;
  font-size: 3vw;
}
h4{
  text-align: center;
  font-family: Lucida Console;
  margin: auto;
  width: fit-content;
}

body {
  background-color:lightblue;
}