body{
    color: black;
    text-align: center;
}
.flex-container {
    margin: 15px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .first-column {
    margin: 100px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 25px;
    text-align: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, 
    rgba(34,193,195,1) 0%, rgba(74,70,205,1) 100%);
    height: 200px;
  }
  
  .second-column {
    margin: 100px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 25px;
    text-align: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, 
    rgba(34,193,195,1) 0%, rgba(179,70,205,1) 100%);
    height: 200px;
  }
  
  .third-column {
    margin: 100px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 25px;
    text-align: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg,
    rgba(34,193,195,1) 0%, rgba(205,70,138,1) 100%);
    height: 200px;
  }
  .fourth-column {
    margin: 100px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 25px;
    text-align: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg,
    rgba(34,193,195,1) 0%, rgba(205,70,70,1) 100%);
    height: 200px;
  }
  
